<div class="relatedCard">
  <div class="img">
    <div class="cardImg" src="/images/{{image}}" alt=""></div>
  </div>
  <div class="details">
    
    
    <div class="price">${{price}}</div>
    

    <div class="cardName">Publisher: {{publisher}}</div>
    <div class="cardName">Genre: {{genre}}</div>

    <div class="cardName">Stock: {{quantity}}</div>
  </div>
  <div class="description">
    <div class="cardName">{{title}}</div>
    Author:<a href=""> {{author}}</a>
    {{#if series}}
      <div class="cardName">Series: {{series}}</div>
      {{/if}}
    <div class="cardName">Description: {{description}}</div>
  </div>

</div>