<main>

    <div class="body">

        <div class="card">

            <div class="divAsideL">
                <div class="img">{{book.img}}</div>
                <div class="divAsideL">
                    <div class="img">{{Book.img}}</div>

                    <button class="author">{{book.author}}</button>
                    <button class="Publisher">{{book.publisher}}</button>
                    <button class="Genre">{{book.genre}}</button>
                    <button class="addToCart">{{cart.add}}</button>
                    <button class="Favorite">{{Favorite}}</button>

                </div>

                <div class="divCenter">

                    <div class="bookName">{{books.title}} <br>

                        {{#if books.series}}
                        <div class="bookSeries">{{books.series}}</div>
                        {{/if}}
                        <div class="inventory">{{books.quantity}}</div>
                        <div class="price">{{books.price}}</div>
                    </div>



                    <div class="bookDescription">{{books.description}}</div>
                </div>


            </div>

            

       
        <div class="related">

            <div class="relatedHeader">Related Books</div>

            <div class="relatedSearch">

                {{#each book.related as |book|}}
                {{> bookMiniCard}}
                {{/each}}

            </div>
        </div>

</main>