<main>

        <div class="body">

            <div class="card">

                <div class="divAsideL">
                    <div class="img">{{Book_img}}</div>

                    <button class="author">{{Book.author}}</button>
                    <button class="Publisher">{{book.publisher}}</button>
                    <button class="Genre">{{book.genre}}</button>
                    <button class="addToCart">{{Add To Cart}}</button>
                    <button class="Favorite">{{Favorite}}</button>

                </div>

                <div class="divCenter">

                    <div class="bookName">{{book.title}} <br>

                    {{#if book.series}}
                    <div class="bookSeries">{{book.series}}</div>
                    {{/if}}
                        <div class="inventory">{{book.quantity}}</div>
                        <div class="price">{{book.price}}</div>
                    </div>



                    <div class="bookDescription">{{book.description}}</div>
                </div>


            </div>

            <div class="review">
                <div class="reviewPosts">{{book_reviews}}</div>
                <input type="text" name="postAReview" id="reviewPost" placeholder="Write a Review" />
            </div>

        </div>
        <div class="related">

            <div class="relatedHeader">Related Books</div>

            <div class="relatedSearch">

 {{#each book.related as |book|}}
    {{> bookMiniCard}}
    {{/each}}

            </div>
        </div>

    </main>